body {
    padding: 0;
    margin: 0;
    background-color: black;
}

nav{
    text-align: center; /* centrer le texte */
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
}

a{
    color:white;
    text-decoration: none;
}

nav li {
    display: inline;
    list-style: none;
}

/*Fin partie du header */
/*Début image */

image{
    width: 100%;
}
/*Fin image*/
