body {
    padding: 0;
    margin: 0;
    background-color: black;
}

nav{
    text-align: center; /* centrer le texte */
    font-size: 20px;
}

ul{
    display: flex;
    justify-content: space-around;
}

a{
    color:white;
    text-decoration: none;
}

nav li {
    display: inline;
    list-style: none;
}

/*Fin partie du header */
/*Début image */

.image{
    width: 100%;
}
/*Fin image*/

/*Début accueil*/
.accueil{
    text-align: center;
    color: white;
}

.parcours{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 55%;
}

.parcoursgauche{
    width: 60%;
    margin-right: 10px;
}

.parcoursimage{
    margin-top: 2%;
    float: right;
}
/*Fin accueil*/

/*Début études*/
.etudes{
    background-image: url("backsetup.jpg");
    padding-bottom: 10%; /*ça va créer un espace en dessous du dernier bloc blanc*/
}
.titreetudes{
    text-align: center;
    color: white;
}
.etudes h1{
    text-align: center;
}
.etudesecole{
    margin-left: 23%;
}
.ecole{
    width: 70%;
    height: 20%;
    background-color: white;
    align-items: center;
}
.ecole img{
    margin-left: 43%;
    width: 15%;
    height: 20%;
}
/* Fin études*/